<div>
    <h3 class="fw-bold text-secondary mt-5">HCMUS Bookstore</h3>
    <h5>Confirm your email</h5>
    <img src="/images/confirm-account.svg" style="width: 160px; height: 160px">
    <p>We have sent you an email to confirm your account. Please verify your account within 24 hours from the time of sending.</p>
    <a class="btn btn-primary mt-3" href="/confirm-email/resend?id={{user._id}}">Resend</a>
    <a class="btn btn-danger mt-3 ms-3" href="/logout">Logout</a>
</div>
<script src="/js/main.js">
</script>
<script>
</script>