<div>
    <h5>Confirm your email</h5>
    <p>We have sent you an email to confirm your account. Please verify your account within 24 hours from the time of sending.</p>
    <a class="btn btn-primary mt-3" href="/confirm-email/resend?id={{user._id}}">Resend</a>
</div>
<script src="/js/main.js">
</script>
<script>
</script>