<div class="alert alert-danger d-flex align-items-center position-absolute align-items-center"
        style="top: 25px; right: 36px; opacity: 0" role="alert">
            <i class="fa-solid fa-triangle-exclamation"></i>
            &nbsp;
            <p class="alert-message" style="margin: 0;"></p>
        <div>
    </div>
    </div>
    <form class="py-4 px-4 rounded-3 shadow-lg" style="width: 400px;" onsubmit="return handleSubmit(event)">
        <h3 class="mb-2">Welcome back</h3>
        <a class="link-primary text-decoration-none">Don't have an account</a>
        <div class="mt-4 mb-3">
          <label for="email" class="form-label">Email address</label>
          <input required type="email" class="form-control" id="email" aria-describedby="emailHelp">
        </div>
        <div class="mb-3 position-relative">
          <label for="password" class="form-label">Password</label>
          <div class="input-group">
            <input required type="password" class="form-control" id="password"
            style="border-right: none;">
          <button
          id="show-pw-btn"
          style="background-color: inherit; border-left: none;" 
          type="button"
          class="input-group-text text-primary"><i class="fa-regular fa-eye show-pw-icon"></i></button>
          </div>
        </div>
        <div class="mb-3 form-check">
          <input checked type="checkbox" class="form-check-input" id="rememberMe">
          <label class="form-check-label" for="rememberMe">Remember Me</label>
        </div>
        <a class="link-primary
         text-decoration-none" style="font-size: 14px;">Forgot your password?</a>
        <button type="submit" class="btn btn-primary w-100 mt-2">Login</button>
      </form>
